# PostgreSQL
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
POSTGRES_DB=kittygram_db
DB_NAME=kittygram_db
DB_HOST=db
DB_PORT=5432
DB_ENGINE=django.db.backends.postgresql

# Django
SECRET_KEY=django-insecure-change-me-in-production
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0
